/* Styles for the header */
header {
  background-color: #3498db; /* Header background color */
  color: white; /* Text color */
  text-align: left;
  padding: 10px 40px; /* Padding around the header content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

h1 {
  margin-bottom: 10px; /* Bottom margin for the heading */
}

p {
  margin-bottom: 20px; /* Bottom margin for the paragraph */
}

/* Add a hover effect for the header */
header:hover {
  background-color: #2980b9; /* Darker background color on hover */
}

/* Basic styles for the container */
.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 10px;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
}

/* Styles for the input section */
.input-section, .search-section, .history-section {
  flex: 1; /* Allow the sections to take equal space */
  max-width: 50%; /* Limits maximum width to 50% of the container */
  text-align: center;
  padding: 40px; /* Increase padding for a bigger size */
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px; /* Adds space between sections */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Add box shadow effect on hover */
.input-section:hover, .search-section:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Box shadow effect */
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%; /* Takes full width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Box shadow effect on hover */
}

.Recipe-Button {
  width: 100%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as per your design preference */
  align-items: center; /* Align buttons vertically */
}

.button-container button {
  width: 100px; /* Set a specific width for the buttons */
}


/* Styles for the search section */
button[data-cuisine] {
  margin: 5px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[data-cuisine]:hover {
  background-color: #2980b9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Box shadow effect on hover */
}


/* Media query for screens larger than 600px */
@media (max-width: 1200px) {
  .input-section, .search-section {
    width: 45%; /* Takes 45% width on screens larger than 600px */
    margin-bottom: 0; /* No margin between sections */
  }
}

@media (max-width: 768px) {
  .button-container button {
    width: 120px; /* Adjust width for smaller screens */
  }
}

/* Styles for the recipes section */
.recipes-section {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 10px; /* Add top margin to create separation from the above content */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.recipes-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
